accelerate==1.0.1
attrs==24.2.0
auto_gptq @ git+https://github.com/PanQiWei/AutoGPTQ.git@bd18bb8a92d73b930fbb7bee53fff58c2a3ebf13
bitsandbytes==0.44.0
codebleu==0.7.0
contourpy==1.3.0
cycler==0.12.1
datasets==3.0.2
deepspeed==0.15.3
dill==0.3.8
distro==1.9.0
evaluate==0.4.3
exceptiongroup==1.2.2
faiss-cpu==1.9.0
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
gekko==1.2.1
grpcio==1.67.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.7
huggingface-hub==0.26.2
idna==3.10
iniconfig==2.0.0
jiter==0.8.2
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.9.4
mauve-text==0.4.0
mkl-service==2.4.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
ninja==1.11.1.1
numpy
openai==1.59.8
packaging==24.1
pandas==2.2.3
peft==0.9.0
pillow
pluggy==1.5.0
propcache==0.2.0
protobuf==5.28.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.2.0
pytest==8.3.3
pytz==2024.2
RapidFuzz==3.13.0
regex==2024.9.11
rouge==1.0.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.1
speechbox @ git+https://github.com/huggingface/speechbox.git@e7339dc021c8aa3047f824fb5c24b5b2c8197a76
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tokenizers==0.20.1
tomli==2.0.2
torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0
tqdm==4.66.5
transformers @ git+https://github.com/huggingface/transformers@1d063793318b20654ebb850f48f43e0a247ab7bb
tree-sitter==0.22.3
triton==3.1.0
tzdata==2024.2
Werkzeug==3.0.6
xxhash==3.5.0
yarl==1.16.0
